.square {
  align-items: center;
  background-color: lightgrey;
  border: none;
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  height: 100px;
  justify-content: center;
  padding: 0;
  width: 100px;
}

.square:disabled {
  color: black;
  cursor: not-allowed;
}
